$primary-color: #265440;
$secondary-color: #cd7f32;
$secondary-color-light: #efd7bd;
$info-color: #181a1e;
$info-color-light: #4d5a6a;
$dark-tile-color: #11403b;
$light-tile-color: #2a9d8f;
$warning-color: #ffdd00;
$error-color: #d32f2f;
$text-color: #3a3a3a;
