.price-master-page {
  padding: 10px;
  height: 96vh;

  &__loading-spinner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title-section {
    height: 5%;
  }

  &__vat-input-section {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 1rem 0;
  }

  &__grid-container {
    height: 80%;
    width: 100%;
  }
}
