@use "../../Styles/variables";

.sidebar {
  background-color: variables.$light-tile-color;
  padding: 0 2vw 0 1vw;
  height: 100%;

  &__link {
    color: #333;
    text-decoration: none;
    transition: 0.3s;

    &--active {
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      color: variables.$secondary-color-light;
    }
  }

  &__logout-button {
    position: absolute;
    bottom: 1%;
    right: 10%;
  }
}
