.stock-movements-page {
  padding: 10px;
  height: 96vh;

  &__title-section {
    height: 5%;
  }

  &__selection-container {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__grid-container {
    height: 85%;
    width: 100%;
  }
}
