.purchases-page {
  padding: 10px;
  height: 96vh;
  display: flex;
  flex-direction: column;

  &__loading-spinner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title-section {
    height: 5%;
  }

  &__purchases-grid {
    flex-grow: 1;
    height: 50%;
    width: 100%;
  }
}
