.purchases-page {
  padding: 10px;
  height: 96vh;
  display: flex;
  flex-direction: column;

  &__title-section {
    height: 5%;
  }

  &__purchases-grid {
    flex-grow: 1;
    height: 50%;
    width: 100%;
  }
}
